<body>
    <div class="row">
        <div *ngIf="stocks">
            <div class="column" style="width: 35%">
                <mat-form-field appearance="standard">
                    <mat-label>Portfolio name</mat-label>
                    <input matInput [(ngModel)]="port.pName" /> <!-- (change)="pNameChange($event)" -->
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Select a currency</mat-label>
                    <mat-select [(ngModel)]="port.currency">
                        <mat-option value="USD">USD</mat-option>
                        <mat-option value="CAD">CAD</mat-option>
                        <mat-option value="EUR">EUR</mat-option>
                        <mat-option value="JPY">JPY</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="updatePortfolio()">Modify</button>

                <table mat-table [(dataSource)]="stocks" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.symbol}} </td>
                    </ng-container>

                    <ng-container matColumnDef="currency">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="currPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Current price </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.currPrice}} </td>
                    </ng-container>

                    <ng-container matColumnDef="volume">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.volume}} </td>
                    </ng-container>

                    <ng-container matColumnDef="stockTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                        <td mat-cell *matCellDef="let stock"> {{stock.time_purchased}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRemoveClicked(row)"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No stocks in portfolio.</td>
                    </tr>
                </table>

            </div>
        </div>
        <div *ngIf="!stocks">No stocks found</div>

        <div class="column" style="width: 20%; margin-left: 3%; margin-right: 2%">
            <div *ngIf="toAdd" class="add-form">
                <h2>To Add to Portfolio</h2>
                <form>
                    <p><strong>Symbol:</strong> {{this.toAdd.symbol}}</p>
                    <p><strong>Currency:</strong> {{this.toAdd.currency}}</p>
                    <p><strong>Price:</strong> {{this.toAdd.price}}</p>
                    <p><strong>Volume:</strong> {{this.toAdd.volume}}</p>


                </form>

                <button mat-raised-button (click)="addStock()">
                    Add
                </button>

            </div>

            <div *ngIf="toRemove" class="remove-form">
                <h2>To Remove from Portfolio</h2>
                <form>
                    <p><strong>Symbol:</strong> {{this.toRemove.symbol}}</p>
                    <p><strong>Currency:</strong> {{this.toRemove.currency}}</p>
                    <p><strong>Price:</strong> {{this.toRemove.price}}</p>
                    <!-- <p><strong>Current Price:</strong> {{this.toRemove.currPrice}}</p> -->
                    <p><strong>Volume:</strong> {{this.toRemove.volume}}</p>

                </form>

                <button mat-raised-button (click)="removeStock()">
                    Remove
                </button>

            </div>
        </div>

        <div class="column" style="width: 40%">
            <button mat-raised-button routerLink="/stock/edit">Manage Stocks</button>

            <app-stock-list (stockSelected)="onAddClicked($event)"></app-stock-list>
        </div>


    </div>
</body>

<!-- <footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</footer> -->