.left {
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .right {
    width: 25%;
  }
  
  .mat-form-field {
    width: 34%;
    height: 10%;
  }
  
  column {
    margin-top: 10px;
    padding-top: 10px;
  }
  .column {
    margin-top: 10px;
    padding-top: 10px;
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .edit-form {
    margin-top: 10px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f19ddf;
  }
  
  .stocks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .stocks td {
    border: 1px solid #ddd;
    padding: 2px;
  }
  
  .stocks tr:nth-child(even){background-color: #f2f2f2;}
  
  .stocks tr:hover {background-color: #ddd;}
  
  .stocks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .mat-raised-button {
      margin-right: 5px;
  }
  .mat-raised-button:hover {
    color: rgb(146, 27, 27);
  }