<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong>
      <p> <br> </p>
    </h3>

  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>First Name:</strong>
    {{ currentUser.first }}
  </p>
  <p>
    <strong>Last Name:</strong>
    {{ currentUser.last }}
  </p>
  <p>
    <strong>Address:</strong>
    {{ currentUser.address }}
  </p>
  <p>
    <strong>Phone:</strong>
    {{ currentUser.phone }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role.name | json }}
    </li>
  </ul>
  </header>
  <a class="badge badge-warning" routerLink="/profile/edit/{{ currentUser.id }}">
    Edit
  </a>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>